#lo{
	width: 24vw;
	height: 46vh;
	position: absolute;
	top: 30%;
	left: 30%;
	background-color: white;
	opacity: 0.5;
}
.type{
	position: relative;
	top: 20%;
	left: 8%;
	
}
.in{
	width: 80%;
	height: 3vh;
	margin-top: 3vh;
}

body{
	position: relative;
	top: 40%;
	left: 10%;
	
}

#submit-box{
	
	position: absolute;
	left: 40%;
	bottom: 6%;
	width: 6vw;
	height: 4vh;
 
}
#submit-box a{
	text-decoration: none;
	margin:15%;

}

#test{
	width: 200px;
	height: 200px;
	background-color: blue;
	opacity: 0.5;
	position: relative;
	text-align: center;
	color: white;
}

	#he{
			width: 50%;
			height: auto;
			background-color: pink;
			margin-left: 200px;
			margin-top: -24vh;
			position: fixed;
		}